<footer>
    <div class="footer-wrapper">
        <p>{{globals.footer.copyright}}</p>
        <div>
            <a href="{{globals.footer.links.privacy.link}}">{{globals.footer.links.privacy.text}}</a>
            <a href="{{globals.footer.links.about.link}}">{{globals.footer.links.about.text}}</a>
            <a href="{{globals.footer.links.faq.link}}">{{globals.footer.links.faq.text}}</a>
            <a href="{{globals.footer.links.contact.link}}">{{globals.footer.links.contact.text}}</a>
            <a href="{{globals.footer.links.prototype.link}}">{{globals.footer.links.prototype.text}}</a>
        </div>
    </div>
</footer>