<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="{{st.about.about_service.image_link}}">
        </div>
        <div class="image-text__text">
            <h1>{{st.about.about_service.page_title}}</h1>
            <p>{{st.about.about_service.para1}}</p>
        </div>
    </div>
    <div>
        <div>
            <p>{{st.about.about_service.para2}}</p>
            <p>{{st.about.about_service.para3}} <a href="/parents/schools">{{st.about.about_service.schools_link}}</a></p>

            <h2>{{st.about.about_business.section_title}}</h2>
            <p>{{st.about.about_business.para1}}</p>
            <p>{{st.about.about_business.para2}} <a href="/contact">{{st.about.about_business.contact_link}}</a></p></p>
            <p>{{st.about.about_business.para3}} <a href="/contact">{{st.about.about_business.contact_link}}</a> {{st.about.about_business.contact_suffix}}</p></p>
        </div>
    </div>

</div>
