<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="/images/parents-smaller.jpg">
        </div>
        <div class="image-text__text">
            <h1>{{st.faqs.page_title}}</h1>
        </div>
    </div>


        <div>

            <h2>{{st.faqs.parents.section_title}}</h2>

            <ul>

                <li>{{st.faqs.parents.questions.1.question}}</li>

                <li>{{st.faqs.parents.questions.2.question}}</li>

                <li>{{st.faqs.parents.questions.3.question}}</li>

                <li>{{st.faqs.parents.questions.4.question}}</li>

                <li>{{st.faqs.parents.questions.5.question}}</li>

                <li>{{st.faqs.parents.questions.6.question}}
                    <ul>
                        <li>{{st.faqs.parents.questions.6.answer}}</li>
                    </ul>
                </li>
            </ul>

            <h2>{{st.faqs.teachers.section_title}}</h2>

            <ul>

                <li>{{st.faqs.teachers.questions.1.question}}</li>

            </ul>

        </div>
</div>
