<div class="container cf">
    <h1>{{st.faqs.page_title}}</h1>

    <aside>
        <h2 class="list-section-heading">{{st.faqs.parents.section_title}}</h2>
        <ul class="faqs-list">
            <li><a class="faqs-list__nav-link" href="#question1">{{st.faqs.parents.questions.1.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question2">{{st.faqs.parents.questions.2.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question3">{{st.faqs.parents.questions.3.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question4">{{st.faqs.parents.questions.4.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question5">{{st.faqs.parents.questions.5.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question6">{{st.faqs.parents.questions.6.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question7">{{st.faqs.parents.questions.7.question}}</a></li>
            <li><a class="faqs-list__nav-link" href="#question8">{{st.faqs.parents.questions.8.question}}</a></li>
        </ul>

        <h2 class="list-section-heading">{{st.faqs.teachers.section_title}}</h2>
        <ul class="faqs-list">
            <li><a class="faqs-list__nav-link" href="#question9">{{st.faqs.teachers.questions.1.question}}</a></li>
        </ul>
    </aside>
    
    
    <div class="content-with-aside cf">
        <section>
            <h2 class="section-heading">{{st.faqs.parents.section_title}}</h2>

            <ul class="faqs-list">
                <li>
                    <h3 id="question1">{{st.faqs.parents.questions.1.question}}</h3>
                    <p>{{st.faqs.parents.questions.1.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>

                <li>
                    <h3 id="question2">{{st.faqs.parents.questions.2.question}}</h3>
                    <p>{{st.faqs.parents.questions.2.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>

                <li>
                    <h3 id="question3">{{st.faqs.parents.questions.3.question}}</h3>
                    <p>{{st.faqs.parents.questions.3.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question4">{{st.faqs.parents.questions.4.question}}</h3>
                    <p>{{st.faqs.parents.questions.4.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question5">{{st.faqs.parents.questions.5.question}}</h3>
                    <p>{{st.faqs.parents.questions.5.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                   <h3 id="question3">{{st.faqs.parents.questions.6.question}}</h3>
                    <p>{{st.faqs.parents.questions.6.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                 <li>
                   <h3 id="question7">{{st.faqs.parents.questions.7.question}}</h3>
                    <p>{{st.faqs.parents.questions.7.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                 <li>
                   <h3 id="question8">{{st.faqs.parents.questions.8.question}}</h3>
                    <p>{{st.faqs.parents.questions.8.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
            </ul>
        </section>
        
        <section>
            <h2 class="section-heading">{{st.faqs.teachers.section_title}}</h2>
            <ul class="faqs-list">
                <li>
                    <h3 id="question9">{{st.faqs.teachers.questions.1.question}}</h3>
                    <p>{{st.faqs.teachers.questions.1.answer}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
            </ul>
                   
        </section>
        <a href="#" class="scroll-back-top scroll-back-top--desktop">Back to top</a>
    </div>
</div>
