<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="/images/parents-smaller.jpg">
        </div>
        <div class="image-text__text">
            <h1>{{st.parents.page_title}}</h1>
            <blockquote>
                <div><p><i>{{st.parents.intro1}}</i></p></div>
                <div><p><i>{{st.parents.intro2}}</i></p></div><br />
                <div>{{st.parents.intro3}}</div>
            </blockquote>
        </div>
    </div>

    <div>
        <div>
            <h2>{{st.parents.what_is.section_title}}</h2>

            <p>{{st.parents.what_is.para1}}</p>

            <p>{{st.parents.what_is.para2}}</p>

            <p>{{st.parents.what_is.para3}}</p>

            <p>{{st.parents.what_is.para4}}</p>

            <h2>{{st.parents.how_work.section_title}}</h2>

            <p>{{st.parents.how_work.para1}}</p>

            <ul>
                <li>{{st.parents.how_work.list1}}</li>
                <li>{{st.parents.how_work.list2}}</li>
                <li>{{st.parents.how_work.list3}}</li>
            </ul>
            
            <p><a class="btn btn-primary ml-2" href="/parents/schools">{{st.parents.how_work.start_button}}</a></p>

            <h2>{{st.parents.privacy.section_title}}</h2>

            <p>{{st.parents.privacy.para1}}</p>

            <p>{{st.parents.privacy.para2}}</p>

            <p>{{st.parents.privacy.para3}}</p>

            <p>{{st.parents.privacy.para4}} <A href="/privacy">{{st.parents.privacy.privacy_link_text}}</a></p>

        </div>
    </div>

</div>
