<div class="container cf">
    <h1>Please select your child's school</h1>

    <div class="image-list cf">
        {{#each schools}}
            <div class="image-list__item">
                <a href="/parents/schools/{{schoolId}}/classes">
                    <h2 class="image-list__item__header">
                        {{name}}
                    </h2>
                    <img class="image-list__item__image" src="{{logoSmall}}" alt="{{name}}" />
                    <div class="image-list__item__subtitle">
                        {{place}}
                    </div>
                </a>
            </div>
        {{/each}}
    </div>

</div>