<div class="container">

    <div>
        <h2>Please select your child's school</h2>
    </div>

    {{#each schools}}
    <div class="card border-success mb-3" style="width: 20rem;">
        <div class="card-header text-center">
            {{name}}
        </div>
        <img class="card-img-top" src="{{logoSmall}}" alt="{{name}} logo">
        <div class="card-body">
            <p class="card-text text-center">{{place}}</p>
            <a href="/parents/schools/{{schoolId}}/classes" class="btn btn-primary card-text text-center">Select</a>
        </div>
    </div>
    {{/each}}

</div>