<div class="container">

    <h1>Privacy policy</h1>

    <div>
        <div>
            <h2>{{st.privacy.privacy_parents.section_title}}</h2>

            <ul class="privacy-policy-list">
                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question1}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer1}}</p>
                </li>

                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question2}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer2}}</p>
                </li>

                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question3}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer3}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question4}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer4}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question5}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer5}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_parents.parents_question6}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_parents.parents_answer6}}</p>
                </li>
            </ul>

            <h2>{{st.privacy.privacy_teachers.section_title}}</h2>
            <ul class="privacy-policy-list">
                <li>
                    <p><b>{{st.privacy.privacy_teachers.teacher_question1}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_teachers.teacher_answer1}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_teachers.teacher_question2}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_teachers.teacher_answer2}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_teachers.teacher_question3}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_teachers.teacher_answer3}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_teachers.teacher_question4}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_teachers.teacher_answer4}}</p>
                </li>
                <li>
                    <p><b>{{st.privacy.privacy_teachers.teacher_question5}}</b></p>
                    <p class="privacy-answer">{{st.privacy.privacy_teachers.teacher_answer5}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
