<div class="container cf">
    <h1>Privacy policy</h1>

    <aside>
        <h2 class="list-section-heading">{{st.privacy.privacy_parents.section_title}}</h2>
        <ul class="privacy-policy-list">
            <li><a class="privacy-policy-list__nav-link" href="#question1">{{st.privacy.privacy_parents.parents_question1}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question2">{{st.privacy.privacy_parents.parents_question2}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question3">{{st.privacy.privacy_parents.parents_question3}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question4">{{st.privacy.privacy_parents.parents_question4}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question5">{{st.privacy.privacy_parents.parents_question5}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question6">{{st.privacy.privacy_parents.parents_question6}}</a></li>
        </ul>
        <h2 class="list-section-heading">{{st.privacy.privacy_teachers.section_title}}</h2>
        <ul class="privacy-policy-list">
            <li><a class="privacy-policy-list__nav-link" href="#question7">{{st.privacy.privacy_teachers.teacher_question1}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question8">{{st.privacy.privacy_teachers.teacher_question2}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question9">{{st.privacy.privacy_teachers.teacher_question3}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question10">{{st.privacy.privacy_teachers.teacher_question4}}</a></li>
            <li><a class="privacy-policy-list__nav-link" href="#question11">{{st.privacy.privacy_teachers.teacher_question5}}</a></li>
        </ul>
    </aside>

    <div class="content-with-aside cf">
        <section>
            <h2 class="section-heading">{{st.privacy.privacy_parents.section_title}}</h2>

            <ul class="privacy-policy-list">
                <li>
                    <h3 id="question1">{{st.privacy.privacy_parents.parents_question1}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer1}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>

                <li>
                    <h3 id="question2">{{st.privacy.privacy_parents.parents_question2}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer2}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>

                <li>
                    <h3 id="question3">{{st.privacy.privacy_parents.parents_question3}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer3}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question4">{{st.privacy.privacy_parents.parents_question4}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer4}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question5">{{st.privacy.privacy_parents.parents_question5}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer5}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question6">{{st.privacy.privacy_parents.parents_question6}}</h3>
                    <p>{{st.privacy.privacy_parents.parents_answer6}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
            </ul>
        </section>

        <section>
            <h2 class="section-heading">{{st.privacy.privacy_teachers.section_title}}</h2>
            <ul class="privacy-policy-list">
                <li>
                    <h3 id="question7">{{st.privacy.privacy_teachers.teacher_question1}}</h3>
                    <p>{{st.privacy.privacy_teachers.teacher_answer1}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question8">{{st.privacy.privacy_teachers.teacher_question2}}</h3>
                    <p>{{st.privacy.privacy_teachers.teacher_answer2}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question9">{{st.privacy.privacy_teachers.teacher_question3}}</h3>
                    <p>{{st.privacy.privacy_teachers.teacher_answer3}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question10">{{st.privacy.privacy_teachers.teacher_question4}}</h3>
                    <p>{{st.privacy.privacy_teachers.teacher_answer4}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
                <li>
                    <h3 id="question11">{{st.privacy.privacy_teachers.teacher_question5}}</h3>
                    <p>{{st.privacy.privacy_teachers.teacher_answer5}}</p>
                    <a href="#" class="scroll-back-top">Back to top</a>
                </li>
            </ul>
        </section>
        <a href="#" class="scroll-back-top scroll-back-top--desktop">Back to top</a>
    </div>
</div>