<div class="container">

    <h1>Privacy policy</h1>

</div>

<div>
    <div>
        <h2>{{st.privacy.privacy_parents.section_title}}</h2>
    
        <h3>{{st.privacy.privacy_parents.parents_question1}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer1}}</p>
    
        <h3>{{st.privacy.privacy_parents.parents_question2}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer2}}</p>
    
        <h3>{{st.privacy.privacy_parents.parents_question3}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer3}}</p>
    
        <h3>{{st.privacy.privacy_parents.parents_question4}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer4}}</p>
    
        <h3>{{st.privacy.privacy_parents.parents_question5}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer5}}</p>
    
        <h3>{{st.privacy.privacy_parents.parents_question6}}</h3>
        <p>{{st.privacy.privacy_parents.parents_answer6}}</p>
    
    
        <h2>{{st.privacy.privacy_teachers.section_title}}</h2>
    
        <h3>{{st.privacy.privacy_teachers.teacher_question1}}</h3>
        <p>{{st.privacy.privacy_teachers.teacher_answer1}}</p>
    
        <h3>{{st.privacy.privacy_teachers.teacher_question2}}</h3>
        <p>{{st.privacy.privacy_teachers.teacher_answer2}}</p>
    
        <h3>{{st.privacy.privacy_teachers.teacher_question3}}</h3>
        <p>{{st.privacy.privacy_teachers.teacher_answer3}}</p>
    
        <h3>{{st.privacy.privacy_teachers.teacher_question4}}</h3>
        <p>{{st.privacy.privacy_teachers.teacher_answer4}}</p>
    
        <h3>{{st.privacy.privacy_teachers.teacher_question5}}</h3>
        <p>{{st.privacy.privacy_teachers.teacher_answer5}}</p>
    </div>
</div>
