
<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="/images/teachers-smaller.png">
        </div>
        <div class="image-text__text">
            <h1>{{st.teachers.welcome.page_title}}</h1>
            <p>{{st.teachers.welcome.para1}}</p>
            <p>{{st.teachers.welcome.para2}} <a href="/parents/schools">{{st.teachers.welcome.schools_link}}</a></p>
            <p>{{st.teachers.welcome.para3}} <a href="/contact">{{st.teachers.welcome.contact_link}}</a></p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h2>{{st.teachers.how_works.section_title}}</h2>

            <p>{{st.teachers.how_works.para1}}</p>

            <p>{{st.teachers.how_works.para2}}</p>

            <p>{{st.teachers.how_works.para3}}</p>

            <p>{{st.teachers.how_works.para4}}</p>
        </div>
    </div>

</div>

