
<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="/images/teachers-smaller.png">
        </div>
        <div class="image-text__text">
            <h1>{{st.teachers.welcome.page_title}}</h1>
            <blockquote>
                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3020099/">{{st.teachers.welcome.reference_link}}</a>
                <br/>{{st.teachers.welcome.reference_suffix}}
            </blockquote>
        </div>
    </div>
    <div>
        <div>
            <p>{{st.teachers.welcome.para1}}</p>

            <h1>{{st.teachers.what_is.section_title}}</h1>
            <p>{{st.teachers.what_is.para1}}</p>
            <p>{{st.teachers.what_is.para2}} <a href="/parents/schools">{{st.teachers.what_is.schools_link}}</a></p>
            <p>{{st.teachers.what_is.para3}} <a href="/contact">{{st.teachers.what_is.contact_link}}</a></p>
            <p>{{st.teachers.what_is.para4}} <a href="/teachers/signin">{{st.teachers.what_is.signin_link}}</a></p>

            <h1>{{st.teachers.how_works.section_title}}</h1>
        </div>
    </div>


    <div>
        <div>
            <h2>{{st.teachers.how_works.section_title}}</h2>

            <p>{{st.teachers.how_works.para1}}</p>

            <p>{{st.teachers.how_works.para2}}</p>

            <p>{{st.teachers.how_works.para3}}</p>

            <p>{{st.teachers.how_works.para4}}</p>
        </div>
    </div>

</div>

